body {
  background-color: #000;
}

.container {
  width: 800px;
  height: 300px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.circle {
  width: 200px;
  height: 200px;
  background-color: #999;
  border-radius: 50%;
  margin: -40px;
}

.circle::after {
  content: ' ';
  width: 200px;
  height: 200px;
  display: block;
  border: 20px solid #000;
  border-radius: 50%;
  box-sizing: border-box;
  position: relative;
}
